<meta http-equiv="content-type" content="text/html; charset=UTF-8"
      data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<!-- custom for fcdc home page -->
<js data-sly-call="${clientLib.js @ categories=['fcdc.base']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.js @ categories=['fcdc.components']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.js @ categories=['fcdc.jqueryfancybox']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.js @ categories=['fcdc.jqueryvalidator']}" data-sly-unwrap/>