<meta http-equiv="content-type" content="text/html; charset=UTF-8"
      data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<!-- custom for fcdc -->
<css data-sly-call="${clientLib.css @ categories=['fcdc.base']}" data-sly-unwrap/>
<css data-sly-call="${clientLib.css @ categories=['fcdc.components']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.css @ categories=['fcdc.jqueryfancybox']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.css @ categories=['fcdc.jqueryvalidator']}" data-sly-unwrap/>
