<!--/*

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2014 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.

  Renders the resource using the parsys

*/-->
<!--sly data-sly-use.body="body.js" data-sly-resource="${body.resourcePath @ resourceType='wcm/foundation/components/parsys'}"/-->
<div data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>



	<div id="package-1" class="wrapper">
		<div data-sly-include="header.html" data-sly-unwrap></div>
        <div data-sly-include="content.html" data-sly-unwrap></div>
        <div data-sly-include="footer.html" data-sly-unwrap></div>
	</div>
    <sly data-sly-include="customfooterlibs.html" />
