<meta http-equiv="content-type" content="text/html; charset=UTF-8"
      data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
<script>
/**$(document).ready(function($){

  // do something cool here, now that the html has loaded

});**/
</script>

<js data-sly-call="${clientLib.js @ categories=['fcdc.base']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.js @ categories=['fcdc.components']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.js @ categories=['fcdc.jqueryfancybox']}" data-sly-unwrap/>
<js data-sly-call="${clientLib.js @ categories=['fcdc.jqueryvalidator']}" data-sly-unwrap/>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!--script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-553fde0c2b475ae7" async="async"></script-->
