<!-- Site footer -->
<div class="footer">
	<div class="container">
		<footer>
			<div id="blue-bar">
				Info in footer here
			</div>
			<div id="footer" class="clearfix">
				<div class="footer-logo">
					<a href="/content/fcdc/en.html">
						footer logo
					</a>
				</div>
				<div id="footer-info" class="clearfix">
					<div class="footer-col info-footer">
						<h5>Information</h5>
						<nav>
							<a href="/content/fcdc/en/privacy-policy.html">Privacy Policy</a><br>
							<a href="/content/fcdc/en/terms-of-use.html">Terms of Use</a><br>
							<a href="/content/fcdc/en/site-map.html">Site Map</a>
						</nav>
					</div>
					<div class="footer-col connect-footer">
						<h5>Connect</h5>
						<p>
                            <a href="#">Join Us on Facebook</a><br>
                            <a href="#">Follow Us on Twitter</a>
                        </p>
					</div>
				</div>
				<div id="sub-footer" class="clearfix">
					<div id="copyright-info">
						<p>
							&copy; Copyright 2006 - 2015 • Name • Legal Name
						</p>
					</div>
					<div id="sub-footer-copy">
						<p>A lot of SEO info here</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
