<header id="header">
	<div id="header-center">
		<div class="clearfix">
			<div class="header-logo">
				<a href="/content/fcdc/en.html">
					Company Logo
				</a>
			</div>
                <div class="mobile-upper-header">
                    More header info goes here
                </div>
			</div>
		</div>
        <div class="mobile-header">
            <div class="mobile-header">
                <p>Put mobile header here</p>
            </div>
            <nav class="mobile-header-links">
                put mobile header links here
            </nav>
            <div class="mobile-nav-container">
                <nav id="mobile-nav">
                    <span class="sprite close"></span>
					<div>
						<a class="mobile-dropdown">Links<span class="sprite right-arr"></span></a>
						<nav class="dropdown">
                            <a href="/content/fcdc/en.html" class="dropdown-item">Link1</a>
							<a href="/content/fcdc/en.html" class="dropdown-item">Link2</a>
							<a href="/content/fcdc/en.html" class="dropdown-item">Link3</a>
						</nav>
					</div>
				</nav><!-- /#mobile-nav -->
                <div class="mobile-nav-footer">
                    Mobile footer goes here if it is info that appears before the "main content" in a single column view
                </div>
            </div>
       </div>
	</div>
</header>